.title2{
    padding-top: 5vh;
    margin-left: 3vw;
    font-size: 50px;

}.page2{
    padding: 2%;
    margin-top: 2vh;
    background-image: linear-gradient(to bottom right, #000000, #0000002d);
    height: 70vh;
    width: 75vw;
    font-size: 20px;
    line-height: 4vh;
}

.Sabana{
    width: 122px;
    height: 162px;
    float: left;
    padding-right: 2vw;
}

.Adportas{
    width: 300px;
    height: 165px;
    float: right;
    padding-left: 2vw;
}